<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid Layout</title>
    <link rel="stylesheet" href="biostyle.css">
</head>
<body>
    <div class="container">
        Γεννήθηκε το 1964 στην Κωνσταντινούπολη. Σπούδασε νηπιαγωγός αλλά δεν εργάστηκε στον συγκεκριμένο τομέα. Ασχολήθηκε με τα καλλιτεχνικά και τη δημοσιογραφία. Είχε δικό της θίασο κουκλοθεάτρου που ανέβαζε έργα γραμμένα από την ίδια και δικές της διασκευές λαϊκών παραμυθιών. Δημοσίευσε άρθρα σε τοπικές εφημερίδες. Ήταν διευθύντρια προγράμματος σε ραδιοφωνικό σταθμό, στον οποίο έκανε καθημερινά μια ενημερωτική εκπομπή και επιμελήθηκε τα διαφημιστικά σποτ.Είναι συγγραφέας μυθιστορημάτων που οι υποθέσεις τους είναι απόλυτα μέσα στα πλαίσια της πραγματικότητας, και το πρώτο της βιβλίο κυκλοφόρησε το 2001 από τις εκδόσεις Λιβάνη. Από τις εκδόσεις Ψυχογιός έχουν εκδοθεί άλλα δεκαέξι μυθιστορήματά της, καθώς και δύο συλλογές διηγημάτων. Τα βιβλία της έχουν πουλήσει δύο εκατομμύρια αντίτυπα.
        
    </div>  
</body>
</html>