<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid Layout</title>
    <link rel="stylesheet" href="booksstyle.css">
</head>
<body>
    <div class="container">
        <div>Συγγραφικό Έργο</div>
        <ul>
            <li>Τη μέρα που σε γνώρισα, εκδ. Λιβάνη, Αθήνα 2001</li>
            <li>Βαλς με δώδεκα θεούς, εκδ. Ψυχογιός, Αθήνα 2005</li>
            <li>Θεανώ, η λύκαινα της πόλης, εκδ. Ψυχογιός, Αθήνα 2006</li>
            <li>Το σπίτι δίπλα στο ποτάμι, εκδ. Ψυχογιός, Αθήνα 2007</li>
            <li>Η άλλη πλευρά του νομίσματος, εκδ. Ψυχογιός, Αθήνα 2008</li>
            <li>Έρωτας σαν βροχή, εκδ. Ψυχογιός, Αθήνα 2009</li> 
            <li>Το τελευταίο τσιγάρο, εκδ. Ψυχογιός, Αθήνα 2010</li>
            <li>Δεν μπορεί, θα στρώσει, εκδ. Ψυχογιός, Αθήνα 2010 </li>
            <li>Χωρίς χειροκρότημα, εκδ. Ψυχογιός, Αθήνα 2010</li> 
            <li>Όσο αντέχει η ψυχή, εκδ. Ψυχογιός, Αθήνα </li>
            <li>Με λένε Ντάτα, εκδ. Ψυχογιός, Αθήνα</li> 
            <li>Ήταν ένας καφές στη χόβολη, εκδ. Ψυχογιός, Αθήνα</li> 
            <li>Τα πέντε κλειδιά, εκδ. Ψυχογιός, Αθήνα</li> 
            <li>Όσα ήθελα να δώσω, εκδ. Ψυχογιος, Αθήνα</li> 
            <li>Μια συγγνώμη για το τέλος, εκδ. Ψυχογιός, Αθήνα</li> 
            <li>Η εκδίκηση των αγγέλων, εκδ. Ψυχογιός, Αθήνα</li> 
            <li>Γράμμα από χρυσό , εκδ. Ψυχογιός, Αθήνα</li> 
            <li>Ζωή σε Πόλεμο, εκδ. Ψυχογιός, Αθήνα 2018</li>
            <li>Ταξιδι στην Βενετία, εκδ. Ψυχογιός, Αθήνα</li> 
            <li>Οι Τρείς Άσοι, εκδ. Ψυχογιός, Αθήνα</li> 
            <li>Το πράσινο φόρεμα, εκδ. Ψυχογιός, Αθήνα </li>
            <li>Γυναικεία υπόθεση,- Κλαίρη Θεοδώρου εκδ. Ψυχογιός</li>
            <li>Η Σφραγίδα, εκδ. Ψυχογιός, Αθήνα 2022</li>
            <li>Γυναικεία υπόθεση 2 - Φίλια Πυρά, - Κλαίρη Θεοδώρου εκδ. Ψυχογιός, Αθήνα 2022</li>
        </ul>
    </div>
</body>
</html>