<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid Layout</title>
    <link rel="stylesheet" href="photosstyle.css">
</head>
<body>
    <div class="flex-container">
        <div><img src="photos/mantaf1.jpg" alt="Lena Manta photo" ></a></div>
        <div><img src="photos/mantaf2.jpg" alt="Lena Manta photo" ></div>
        <div><img src="photos/mantaf3.jpg" alt="Lena Manta photo" ></div>
        <div><img src="photos/mantaf4.jpg" alt="Lena Manta photo" ></div>
        <div><img src="photos/mantaf5.jpg" alt="Lena Manta photo" ></div>
      </div>
</body>
</html>